/*Topbar*/
$topbarBgLeftColor:#ed990b !default;
$topbarBgRightColor:#ed990b !default;
$topbarLogoColor:#ffffff !default;
$topbarProfileTextColor:#ffffff !default;
$topbarQuickMenuIconColor1:#f4f4f4 !default;
$topbarQuickMenuIconColor2:#f4f4f4 !default;
$topbarQuickMenuIconColor3:#f4f4f4 !default;
$topbarQuickMenuIconColor4:#f4f4f4 !default;
$topbarQuickMenuButtonTextColor:#ffffff !default;
$quickMenuTooltipBgColor:#212121 !default;
$quickMenuTooltipTextColor:#c8c8c8 !default;
$topbarSearchInputTextColor:#ffffff !default;
$topbarSearchInputBorderColor:#f4f4f4 !default;
$topbarSearchInputBorderFocusColor:#ffffff !default;
$topbarSearchInputIconColor:#ffffff !default;
$topbarRightPanelIconColor:#f4f4f4 !default;
$topbarIconHoverBgColor:rgba(244,244,244,.24) !default;
$topbarSidebarButtonColor:#f4f4f4 !default;

/* Topbar Profile */
$profileMenuBgColor:#212121 !default;
$profileMenuItemTextColor:#eaeaea !default;
$profileMenuItemIconColor:#ffba01 !default;
$profileMenuItemHoverBgColor:#333333 !default;
$profileMenuItemHoverIconColor:#ffba01 !default;
$profileMenuItemHoverTextColor:#f4f4f4 !default;
$profileMenuItemActiveBgColor:#ffba01 !default;
$profileMenuItemActiveTextColor:#212121 !default;
$profileMenuItemActiveIconColor:#212121 !default;

/*Sidebar*/
$sidebarBgColor:#212121 !default;
$sidebarDividerColor:#333333 !default;

$sidebarMenuItemTextColor:#eaeaea !default;
$sidebarMenuItemIconColor:#ffba01 !default;
$sidebarMenuItemHoverBgColor:#333333 !default;
$sidebarMenuItemHoverIconColor:#ffba01 !default;
$sidebarMenuItemHoverTextColor:#f4f4f4 !default;
$sidebarMenuItemActiveBgColor:#ffba01 !default;
$sidebarMenuItemActiveTextColor:#212121 !default;
$sidebarMenuItemActiveIconColor:#212121 !default;

$sidebarSubmenuBgColor:#1e1e1e !default;
$sidebarSubmenuItemTextColor:#eaeaea !default;
$sidebarSubmenuItemIconColor:#ffba01 !default;
$sidebarSubmenuItemHoverBgColor:#333333 !default;
$sidebarSubmenuItemHoverTextColor:#f4f4f4 !default;
$sidebarSubmenuItemHoverIconColor:#ffba01 !default;
$sidebarSubmenuItemActiveBgColor:#1e1e1e !default;
$sidebarSubmenuItemActiveTextColor:#ffba01 !default;
$sidebarSubmenuItemActiveIconColor:#ffba01 !default;

$slimMenuTooltipBgColor:#212121 !default;
$slimMenuTooltipTextColor:#ffffff !default;

//mask
$maskBgColor: #212121 !default;

/*Footer*/
$footerBgColor:#212121 !default;
$footerTextColor:#ffffff !default;
$footerIconColor:#ffffff !default;

@import '../../sass/layout/_layout';